<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'NSite/disainp1.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IT</title>
</head>
<body>
<header>
	<h1>IT</h1>
</header>
	<nav>
		<ul>
			<li><a href="{% url 'home' %}">Назад</a></li>
			<li><a href="https://kvant43.ru">Главная</a></li>
			<li><a href="{% url 'pj2' %}">Следущее</a></li>
		</ul>
	</nav>
<main>
	<h1>"Название проекта"</h1>
	<img src="project1.jpg" alt="Проект 1">
	<h3>описание</h3>


</main>
</body>