<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'NSite/disain.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Выставка проектов</title>
</head>
<body>
  <header>
    <h1>Выставка проектов</h1>
  </header>
  <nav>
    <ul>
		<li><a href="https://kvant43.ru">Главная</a></li>
			<div class="dropdown">
		<li><a class="dropbtn">Проекты</a></li>
				<div class="dropdown-content">
					<a href="#Id_1">IT</a>
					<a href="#Id_2">VR/AR</a>
					<a href="#Id_3">Автоквантум</a>
					<a href="#Id_4">Аэроквантум</a>
					<a href="#Id_5">Хайтек</a>
					<a href="#Id_6">Промдизайн</a>
					<a href="#Id_7">ПромРобквантум</a>
				</div>
			</div>
      <li><a href="#about">О нас</a></li>
    </ul>
  </nav>
  <main>
    <section id="projects">
      <h2>Проекты</h2>
	  <div class="idKvant">
		<section id="Id_1">
			<h3>IT</h3>
		</section>
	  </div>
      <div class="project">
        <img src="{% static 'NSite/project1.jpg' %}" alt="Проект 1">
			<h3>Проект 1</h3>
        <p>Описание проекта 1</p> <a href="{% url 'pj1' %}">Подробнее</a>
      </div>
	  <div class="idKvant">
		<section id="Id_2">
			<h3>VR/AR</h3>
		</section>
	  </div>
      <div class="project">
        <img src="{% static 'NSite/project2.jpg' %}" alt="Проект 2">
			<h3>Проект 2</h3>
        <p>Описание проекта 2</p> <a href="{% url 'pj2' %}">Подробнее</a>
      </div>
	  <div class="idKvant">
	    <section id="Id_3">
			<h3>Автоквантум</h3>
		</section>
	  </div>
	  <div class="project">
        <img src="{% static 'NSite/project3.jpg' %}" alt="Проект 3">
			<h3>Проект 3</h3>
        <p>Описание проекта 3</p> <a href="{% url 'pj3' %}">Подробнее</a>
      </div>
	  <div class="idKvant">
		<section Id="Id_4">
			<h3>Аэроквантум</h3>
		</section>
	  </div>
	  <div class="project">
        <img src="{% static 'NSite/project4.jpg' %}" alt="Проект 4">
			<h3>Проект 4</h3>
        <p>Описание проекта 4</p> <a href="{% url 'pj4' %}">Подробнее</a>
      </div>
	  <div class="idKvant">
		<section Id="Id_5">
			<h3>Хайтек</h3>
		</section>
	  </div>
	  <div class="project">
        <img src="{% static 'NSite/project5.jpg' %}" alt="Проект 5">
			<h3>ОРБИТАЛЬНАЯ СТАНЦИЯ РЕМОНТА И ОБСЛУЖИВАНИЯ КОСМИЧЕСКИХ АППАРАТОВ «АВРОРА»</h3>
        <p>Автор: Сунцов Иван</p> <a href="{% url 'pj5' %}">Подробнее</a>
      </div>
	  <div class="idKvant">
		<section Id="Id_6">
			<h3>Промдизайн</h3>
		</section>
	  </div>
	  <div class="project">
        <img src="{% static 'NSite/project6.jpg' %}" alt="Проект 6">
			<h3>Проект 6</h3>
        <p>Описание проекта 6</p> <a href="{% url 'pj6' %}">Подробнее</a>
      </div>
	  <div class="idKvant">
		<section Id="Id_7">
			<h3>ПромРобквантум</h3>
		</section>
	  </div>
	  <div class="project">
        <img src="{% static 'NSite/project7.jpg' %}" alt="Проект 7">
			<h3>Проект 7</h3>
        <p>Описание проекта 7</p> <a href="{% url 'pj7' %}">Подробнее</a>
      </div>
    </section>
    <section id="about">
      <h2>О нас</h2>
      <p>Лучшие проекты кванториума и этот сайт кстати тоже проект)</p>
    </section>
	  <h3>Посмотрите на нашу VR выставку</h3>
	  <p>Посмотреть</p> <a href="{% url 'index' %}">Посмотреть</a>
  </main>
  <footer>
    <p>&copy; NEW ERA</p>
  </footer>
</body>
</html>

